body {
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  box-shadow: none;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffa500;
}

.form-control {
  max-width: 300px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #ffa500;
}

.btn {
  background-color: #007bff;
  color: #ffffff;
}

.btn:hover {
  background-color: #0056b3;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #ffa500;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.card {
  background-color: #1f1f1f;
  border: none;
  color: #ffffff;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

.card img {
  border-radius: 8px;
}

.container {
  padding: 20px;
}
html,
body {
  height: 100%;
  margin: 0;
  background-color: #121212;
  color: #ffffff;
}
.App {
  background-color: transparent;
}
body {
  background-color: #121212 !important;
  color: #ffffff;
}
.card {
  background-color: #1f1f1f;
  border: none;
  color: #ffffff;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.card:hover {
  background-color: #ffa500;
  transform: scale(1.05);
  color: #000000;
}
